/*/////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////*/
@media screen and (min-width: 800px){
       main{             
              border-radius: 3rem;             
       }
}
@media screen and (min-width: 921px){
       body{
              display: flex;
              height: 100vh;
       }
       #container{
              width: 92.1rem;  
              height: 48.5rem; 
              align-items: center;                  
       }
       main{              
              display: flex;              
       }
       section#result{              
              width: 41.5rem;
              height: 41.8rem;
       }
       section#calc{
              padding-left: 2rem;
              padding-right: 4rem;
       }
       .tip-selection .button {             
              grid-template-columns: repeat(3, 12rem);              
              gap: 1.5rem;              
       }
       section#result button{             
            margin-top: 10rem;            
       }
       section#result .total > span,
       section#result .amount > span{
       color: var(--Strong-cyan);
       font-size: 5rem;
       font-weight: 600;
       }
}