@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

:root{
/*Primary*/
--Strong-cyan: hsl(172, 67%, 45%);

/*Neutral*/
--Very-dark-cyan: hsl(183, 100%, 15%);
--Dark-grayish-cyan1: hsl(186, 14%, 43%);
--Dark-grayish-cyan2: hsl(184, 14%, 56%);
--Light-grayish-cyan1: hsl(185, 41%, 84%);
--Light-grayish-cyan2: hsl(189, 41%, 97%);
--White: hsl(0, 0%, 100%);
}

*{
       margin: 0;
       padding:0;
       box-sizing: border-box;
}
html{      
       /*Cada 1rem será considerado 10px*/
       font-size: 62.5%;
  }
body{
       width: 100%;
       font-family: 'Space Mono', monospace;
       font-size: 2.4rem;
       background-color: var(--Light-grayish-cyan1);
}

/*ocultar titulo para ser lido somente pelos navegadores */
.text-hide { 
       border: 0;
       padding: 0;
       margin: 0;
       position: absolute !important;
       height: 1px; 
       width: 1px;
       overflow: hidden;
       clip-path: inset(50%); /*modern browsers, clip-path works inwards from each corner*/
       white-space: nowrap; /* linha adicionada para evitar que as palavras fiquem juntas (à medida que vão para linhas separadas e alguns leitores de ecrã não entendem os feeds de linha como um espaço */
}
   /*///////////////////////////////////////////////////////////////////////////*/

header{
       width: 100%;
       height: 20rem;
       display: flex;
       justify-content: center;
       align-items: center;      
}
main{
       background-color: var(--White);
}