@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

:root{
/*Primary*/
--Strong-cyan: hsl(172, 67%, 45%);

/*Neutral*/
--Very-dark-cyan: hsl(183, 100%, 15%);
--Dark-grayish-cyan1: hsl(186, 14%, 43%);
--Dark-grayish-cyan2: hsl(184, 14%, 56%);
--Light-grayish-cyan1: hsl(185, 41%, 84%);
--Light-grayish-cyan2: hsl(189, 41%, 97%);
--White: hsl(0, 0%, 100%);
}

*{
       margin: 0;
       padding:0;
       box-sizing: border-box;
       font-family: 'Space Mono', monospace;
}
html{      
       /*Cada 1rem será considerado 10px*/
       font-size: 62.5%;
  }
body{
       width: 100%;       
       font-size: 2.4rem; 
       background-color: var(--Light-grayish-cyan1);      
}

/*ocultar titulo para ser lido somente pelos navegadores */
.text-hide { 
       border: 0;
       padding: 0;
       margin: 0;
       position: absolute !important;
       height: 1px; 
       width: 1px;
       overflow: hidden;
       clip-path: inset(50%); /*modern browsers, clip-path works inwards from each corner*/
       white-space: nowrap; /* linha adicionada para evitar que as palavras fiquem juntas (à medida que vão para linhas separadas e alguns leitores de ecrã não entendem os feeds de linha como um espaço */
}
   /*///////////////////////////////////////////////////////////////////////////*/

#container{
       width: 37.5rem;         
       margin: 0 auto;
}
header{
       width: 100%;
       height: 14.5rem;
       display: flex;
       justify-content: center;
       align-items: center;      
}
main{
       width: 100%;
       height: 100%;
       background-color: var(--White);
       border-radius: 3rem 3rem 0 0;
       padding: 4rem 3rem;
}
section#result{
       background-color: var(--Very-dark-cyan);
       border-radius: 1.5rem;
       padding: 2rem;
}
label,
legend{
       display: block;
       font-size: 1.7rem;
       font-weight: 700;
       color: var(--Dark-grayish-cyan1);       
}
legend{
       margin-bottom: 2rem;
}
label{
       margin-bottom: 1rem;
}
input#bill-amount{
       width: 100%;
       height: 5rem;
       padding: 2rem;
       background: var(--Light-grayish-cyan2) url(../images/icon-dollar.svg) no-repeat center left 2rem;
       text-align: right;      
       color: var(--Very-dark-cyan);
       font-size: 2.5rem;
       font-weight: 700;
       border: none;
       border-radius: 0.5rem;
       margin-bottom: 4rem;
}
.tip-selection{
       margin-bottom: 4rem;
}
.tip-selection .button {
       display: grid;
       grid-template-columns: repeat(2, minmax(15rem, 1fr));  
       grid-auto-rows: 5rem;
       gap: 2rem; 
       justify-content: center;       
}
.tip-selection .button button{      
       background-color: var(--Very-dark-cyan);
       color: var(--White);
       font-size: 2.5rem;
       font-weight: 600;
       border: none;
       border-radius: 0.5rem;
}
.tip-selection .button input{
       background-color: var(--Light-grayish-cyan2);
       border: none;
       border-radius: 0.5rem;
       font-size: 2.5rem;
       font-weight: 600;
       color: var(--Very-dark-cyan);
       text-align: center;
}
input#num-people{
       width: 100%;
       height: 5rem;
       padding: 2rem;
       background: var(--Light-grayish-cyan2) url(../images/icon-person.svg) no-repeat center left 2rem;
       text-align: right;      
       color: var(--Very-dark-cyan);
       font-size: 2.5rem;
       font-weight: 700;
       border: none;
       border-radius: 0.5rem;
       margin-bottom: 4rem;
}
section#result{
       padding: 5rem 2.5rem 2rem;       
}
section#result p{
       font-size: 1.6rem;
       font-weight: 600;
       color: var(--Light-grayish-cyan2);
}
section#result .small-text{
       color: var(--Dark-grayish-cyan2);
       display: block;
       font-size: 1.4rem;
}
section#result > div{
       display: flex;
       justify-content: space-between;
}
section#result .total > span,
section#result .amount > span{
       color: var(--Strong-cyan);
       font-size: 3.2rem;
       font-weight: 600;
}
section#result .total{
       margin-top: 3rem;
}
section#result button{
       width: 100%;
       height: 5rem;
       margin-top: 3rem;
       background-color: var(--Strong-cyan);
       border: none;
       border-radius: 0.6rem;
       font-size: 2rem;
       font-weight: 700;
       color: var(--Very-dark-cyan);
       
}
/*/////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////*/
@media screen and (min-width: 921px){
       #container{
              width: 92.1rem;  
              height: 48.5rem;       
       }
       main{              
              display: flex;              
       }
       section#result{              
              width: 41.5rem;
              height: 41.8rem;
       }
       section#calc{
              padding-left: 2rem;
              padding-right: 4rem;
       }
       .tip-selection .button {             
              grid-template-columns: repeat(3, 12rem);              
              gap: 1.5rem;              
       }
       section#result button{             
            margin-top: 10rem;            
       }
       section#result .total > span,
       section#result .amount > span{
       color: var(--Strong-cyan);
       font-size: 5rem;
       font-weight: 600;
}
}